---
name: govulncheck
on:
  pull_request:
  push:
    branches: [main]
  schedule:
    - cron: "0 2 * * *"
jobs:
  govulncheck:
    runs-on: ubuntu-latest
    steps:
      - uses: golang/govulncheck-action@v1
        with:
          output-format: sarif
          output-file: results.sarif
      - uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: results.sarif
