---
name: golangci-lint
on:
  push:
    tags:
    branches:
      - main
  pull_request:

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@6
      - uses: actions/setup-go@6
        with:
          go-version-file: go.mod
      - name: golangci-lint
        uses: golangci/golangci-lint-action@9
        with:
          args: --timeout=10m
